<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ProduitServlet</servlet-name>
  	<display-name>ProduitServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.ProduitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProduit</servlet-name>
  	<display-name>DeleteProduit</display-name>
  	<description></description>
  	<servlet-class>controllers.DeleteProduit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProduit</servlet-name>
  	<display-name>UpdateProduit</display-name>
  	<description></description>
  	<servlet-class>controllers.UpdateProduit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSaveProduit</servlet-name>
  	<display-name>UpdateSaveProduit</display-name>
  	<description></description>
  	<servlet-class>controllers.UpdateSaveProduit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProduitServlet</servlet-name>
  	<url-pattern>/ProduitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProduit</servlet-name>
  	<url-pattern>/DeleteProduit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProduit</servlet-name>
  	<url-pattern>/UpdateProduit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSaveProduit</servlet-name>
  	<url-pattern>/UpdateSaveProduit</url-pattern>
  </servlet-mapping>
</web-app>
